# requirements for htm.core
#See http://www.pip-installer.org/en/latest/requirements.html for details
setuptools # needed for Windows with MSVC
pip
wheel
packaging

anyio
appnope
argon2-cffi
argon2-cffi-bindings
atomicwrites
attrs
backcall
beautifulsoup4
bleach
certifi
cffi
cmake
debugpy
decorator
defusedxml
entrypoints
fastjsonschema
h5py
Hexy
idna
importlib-metadata
importlib-resources
iniconfig
jedi
Jinja2
jsonschema
MarkupSafe
matplotlib-inline
mistune
mock
more-itertools
# nbclassic
# nbclient
# nbconvert
# nbformat
nest-asyncio
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pkgutil_resolve_name
pluggy
prettytable
prometheus-client
prompt-toolkit
psutil
ptyprocess
py
pycparser
Pygments
pyparsing
pyproj
pyrsistent
pytest
python-dateutil
pytz
pyzmq
qtconsole
QtPy
scipy
Send2Trash
six
sniffio
soupsieve
terminado
tinycss2
tomli
tornado
traitlets
typing_extensions
wcwidth
webencodings
websocket-client
# widgetsnbextension
zipp
netCDF4
openpyxl
numpy